a {
    text-decoration: none;
}


.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      padding: 20px 15px;
    }
  
    .col-md-4 {
      order: 2;
      margin-top: 15px;
    }
    
    .col-md-8 {
      order: 1;
    }
  
    .d-flex.justify-content-start,
    .d-flex.justify-content-end {
      justify-content: center;
    }
  }
  