.content {
  text-align: center;
  color: white;
  padding-top: 200px;
}

.background {
  left: 0;
  height: 60vh;
  background-image: url('http://localhost:3000/images/products/background.jpg');
  background-size: cover;
  background-position: top;
}
