.body {
    background-color: #040D12;
}

.top {
    display: flex;
    color: white;
    padding: 60px 0 50px 0
}

.DropDown {
    margin-left: 30px;
    
}

.topContainer {
    display: flex;
    align-items: center; /* Wyśrodkowanie elementów w pionie */
    justify-content: space-between; /* Rozmieszczenie elementów na całej szerokości */
  }
  
  