.cart {
  font-size: 30px;
  position: relative;
  span {
    font-size: 18px;
    position: absolute;
    background-color: aqua;
    width: 20px;     
    border-radius: 50%;
    text-align: center;

  }
}

.cartIcon {
  color: black
}

.brand {
  text-decoration: none;
  color: black
}