.body {
  min-height: 100vh;
  background-color: #040D12;
}

.gameImage img {
  width: 370px;
  height: 100%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.gameBox {
  padding-top: 70px;
  display: flex;
}

.gameInfo {
  color: white;
  margin-left: 15px;
}

.addToCartButton {
  transition: transform 1s;
}

.addToCartButton:hover {
  transform: scale(1.1);
}

.boxImage {
  height: 450px;
  object-fit: cover;
}

.carousel {
  margin-top: 40px;
}

.carousel img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.stars {
  font-size: 20px;
}

.description {
  padding-top: 20px;
}

.categoryBackground {
  display: inline-block;
  background-color: #d81414;
  border-radius: 10px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-top: 20px;
}

.producentBackground {
  display: inline-block;
  background-color: #1594dd;
  border-radius: 10px;
  padding: 4px 8px;
  margin-right: 8px;
}

.addToCart {
  margin-top: 40px;
}

.addToCartButton {
  width: 150px;
}

.systemRequirements {
  margin-top: 100px;
  padding-bottom: 100px;
  color: white;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.requirementTable {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 991px) {
  .gameBox {
    flex-direction: column;
    align-items: center;
  }

  .gameImage img {
    width: 100%; // Reduced size
    height: auto;
  }

  .gameInfo {
    margin-left: 0;
    text-align: center;
    h1 {
      padding-top: 15px;
    }
  }

  .systemRequirements {
    margin-top: 50px;
    padding-bottom: 50px;

    h2 {
      font-size: 25px;
    }
  }

  .requirementTable {
    font-size: 12px;
  }

  .requirementTable th:nth-child(2),
  .requirementTable th:nth-child(3) {
    display: table-cell;
  }

  .whiteLineBelowButton {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 25px;
  }
}
