.icons {
 
    font-size: 20px;
    padding: 5px;
 
  .fabFacebookF {
    color: #3b5998;
    padding-right: 10px;
  }
  .fabYoutube {
    color: #c4302b;
  }
  .fabTwitter {
    color: #1da1f2;
    padding-right: 10px;
  }
  .fabInstagram {
    color: #c13584;
    padding-right: 10px;
  }
}

.text {
    color:white;
}