.infoIcon {
    font-size: 36px;
    color: #0dda0d;
  }

  .column {
    color: white
  }

  @media (max-width: 575px) {
    .row > .col {
      flex-basis: 100% !important; 
      max-width: 100% !important; 
      margin-bottom: 15px;
    }
  }
  